
@media screen and (max-width: 1199px) {
    .product-rating {
        margin-bottom: 5px;
        font-size: 15px;
    }
}
@media screen and (max-width: 767px) {
    .product-rating i {
        font-size: 13px;
    }
}
.text-secondary {
    color: whitesmoke !important;
}
.text-after {
    color: whitesmoke !important;
}
.card-wrapper {
    margin-top:20px;
    position: relative;
    overflow: hidden;
}
.card-wrapper .card-img {
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.card-wrapper .card-img img {
    transition: all 0.3s ease-in-out;
    border-radius: 0.25rem;
    border-radius: 0.25rem;
}
.card-wrapper .card-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    transform: translateX(-100%);
    transition: 0.8s;
    z-index: 11;
}
.card-wrapper:before {
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    right: 100%;
    z-index: 9;
    transition: 0.8s;
    background: rgba(1, 200, 255, 0.82);
    border-radius: 0.25rem;
}
.card-wrapper:hover:before {
    right: 0;
}
.card-wrapper h3,
.card-wrapper p {
    color: #fff;
}
.card-wrapper .read-more {
    color: #fff;
}
.card-wrapper .read-more:after {
    color: #fff;
}
.card-wrapper:hover .card-body {
    visibility: visible;
    transform: translateX(0px);
}
.card-wrapper:hover .backgound-color {
    right: 0;
}
.ti-shopping-cart:before {
    content: "more";
}
.mb-2-6, .my-2-6 {
    margin-bottom: 2.6rem;
}
.text-primary {
    color: #eeff04 !important;
}
.btn-primary {
    margin-top: 10px;
    margin-left: 10px;
}
.btn-secondary {
    float: right;
    background-color: rgb(0, 123, 255);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.btn-dark {
    float: right;
    background-color: rgb(1, 6, 12);
    margin-top: 10px;
    margin-left: 10px;
}
.btn-danger {
    margin-top: 10px;
    margin-left: 10px;
}
.modal-title {
    color: black;
}
.col-form-label {
    color: black;
}
input[type=text] {
    height: 38px;
    width: 120px;
    margin-left: 11px;
    margin-top: 10px;
    float: right;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.modal-text {
    color: black;
}
input:invalid {
    border: rgb(255, 0, 0) solid 1px;
  }
.centered-buttons {
    display: flex;
    justify-content: center;
}
